.header {
  padding: 79px 0 141px;
  background-color: $secondary-color;

.header-title {
    margin-top: 146px;
    margin-bottom: 30px;
    color: $font-color2;
}

.header-desc {
    color: $font-color3;
}
}