.container {
  max-width: $container-max-width;
  margin-inline: auto;
  padding-inline: $container-padding;
}

.desc {
  width: 100%;
  max-width: 540px;
}

.text-center {
  text-align: center;
}


.nav-bar {
  text-transform: uppercase;

  .nav-list {
    display: flex;
    gap: 25px;

    .nav-item {
      &--active .nav-link {
        color: $main-color;
      }

      .nav-link {
        color: $font-color2;
        letter-spacing: 2px;
      }
    }
  }
}