* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size-base;
  font-family: $font-family;
}

body {
  background-color: $secondary-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}