h1, h2, h3 {
  font-weight: 500;
}

h1 {
  font-size: 3rem;
  line-height: 1.64;
}

h2 {
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-size: 1.3125rem;
}

p {
  font-family: $font-family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.64;
}