
$main-color: #34547A;
$secondary-color: #eeeff1;
$font-color: #ffffff;
$font-color2: #000000;
$font-color3: #727272;

$font-family: 'Roboto', sans-serif;
$font-size-base: 16px;

$container-max-width: 1120px;
$container-padding: 20px;